/* FOOTER */
/* ================================== */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.25rem 6.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
        list-style: none;
    }

.sci {
    position: relative;
    display: flex;
    align-items: center;
}
.sci li a    {
    position: relative;
    margin-right: 2rem;
    display: inline-block;
    transform: scale(2);
    opacity: .8;
    color: rgb(49, 49, 49);
}
.sci li a:hover, 
.sci li a:focus {
    transition: all .5s ease;
    transform: scale(2.3);
    
}

.copyrightText {
    font-weight: 600;
    color: #777;
    letter-spacing: 1px;
    
}
}